/* NAVBAR MAIN */
.navbar {
  height: 70px;
  background: #0f172a;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO SECTION */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  height: 45px;
  border-radius: 6px;
}

.nav-logo h3 {
  font-weight: 600;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

/* LINK STYLE */
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* HOVER EFFECT */
.nav-links a:hover {
  color: #38bdf8;
}

/* UNDERLINE ANIMATION */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}
